body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.head {
  background-color: #f6f9f9;
  padding: 38px 390px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
    .head__logo {
      display: flex;
      align-items: center;
      color:#2d3950;
      font-size: 30px;
      .head__img {
        margin-right: 24px;
      }
    }
}

.action{
  background-image: url(/images/head-bg.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    .action__body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-self: center;
      .action__title{
        margin-top: 221px;
        font-size: 120px;
        font-weight: 300;
        margin-bottom: 34px;
        color: white;
      }
      .action__text {
        border-top: 1px solid #15a4fa;
        width: 100%;
        max-width: 550px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .action__description {
          margin-top: 40px;
          font-size: 20px;
          color: white;
          margin-bottom: 62px;
          
        }
        .action__btn {
          color: white;
          font-size: 20px;
          background-color: #15a4fa;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 18px 18px;
          margin-bottom: 137px;
        }
        .arrow-down {
          margin-bottom: 96px;
          color: white;
          font-size: 25px;
        }
      }
    }
}

.design {
  background-color: #f6f9f9;
  .design__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .design__title {
      font-weight: 300;
      font-size: 40px;
      margin-top: 80px;
      margin-bottom: 28px;
    }
    
    .design__text {
      line-height: 1.5em;
      font-size: 20px;
      text-align: center;
      width: 100%;
      max-width: 1022px;
      color: #a7a7a7;
      margin-bottom: 122px;
    }
  }
}

.design__bg {
  background-color: white;
}

.design__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 67px;
  flex-wrap: wrap;
  .design__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
    .design__icon {
      width: 100px;
      height: 100px;
      background: linear-gradient(90deg, #48baff 50%, #5fc3ff 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 65px;
      margin-bottom: 30px;
      border-radius: 5px;
      .mobile {
        color: white;
        font-size: 45px;
      }
      .telegram {
        color: white;
        font-size: 45px;
      }
    }
    .design__discription {
      text-align: center;
      .design__subtitle {
        margin-bottom: 24px;
        font-size: 22px;
        font-weight: 600;
      }
      .design__subtext {
        font-size: 15px;
        width: 100%;
        max-width: 290px;
        color: #999999;
      }
    }
  }
}

.card {
  background-color: #f6f9f9;
  .card__discription {
      display: flex;
      flex-direction: column;
      align-items: center;
    .card__title{
      font-size: 41px;
      color: #2d3950;
      margin-top: 81px;
    }
    .card__text{
      font-size: 15px;
      color: #909090;
      margin-top: 19px;
      margin-bottom: 81px;
    }
  }
  .card__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &:last-child {
      padding-bottom: 116px;
    }
    .card__item_active{
      width: 100%;
      max-width: 360px;
      height: 260px;
      margin-right: 27px;
      margin-bottom: 30px;
      position: relative;
    }
      .card__img {
        width: 100%;
        max-width: 360px;
        height: 260px;
        border-radius: 2px;
      }
    .card__item {
      width: 100%;
      max-width: 360px;
      height: 260px;
      margin-right: 27px;
      margin-bottom: 30px;
      .card__img {
        width: 100%;
        max-width: 360px;
        height: 260px;
        border-radius: 2px;
      }
    }
  } 
}

.card-plus {
  position: absolute;
  top: 109px;
  right: 198px;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 16px;
  color: transparent;
  border-radius: 3px;
  }
  .card-link {
    position: absolute;
    top: 109px;
    right: 133px;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 16px;
    color: transparent;
    border-radius: 3px;
  }

.card__item_active:hover {
  background-color: #2cadfa;
}

.card__item_active:hover .card__img {
  background-color: #2cadfa;
  opacity: 0.2;
}
.card__item_active:hover .card-link { 
      border: 1px solid white; 
      color: white;     
}

.card__item_active:hover .card-plus { 
  border: 1px solid white; 
  color: white;     
}

.form {
    background-image: url(/images/from-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    .form__title {
    font-size: 41px;
    color: white;
    font-weight: 300;
    margin-top: 75px;
    text-align: center; 
  }
  .form__text {
    font-size: 15px;
    color: #939393;
    margin-top: 18px;
    text-align: center;
    margin-bottom: 53px;
  }
  .form__body {
    .form__item {
      border: 1px solid #999999;
      background-color: transparent;
      border-radius: 5px;
      color: white;
      width: 100%;
      max-width: 553px;
      padding: 15px 15px;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 20px;
    }
    
    .form__subitem{
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 104px;
        #subscribe {
          margin: 0;
        }
      .form__subscribe {
        display: flex;
        flex-direction: row;
        align-items: center;
        .form__subcribe-text {
          font-size: 15px;
          color: white;
          font-weight: 300;
          margin-left: 4px;
        }
      }
      .form__btn {
        padding: 13px 54px;
        background-color: #15a4fa;
        color: white;
        border: 1px solid transparent;
        border-radius: 3px;
        margin-right: 8px;
      }
    }
  }
}

.form__item_active {
      border: 1px solid #999999;
      background-color: transparent;
      border-radius: 5px;
      color: white;
      width: 100%;
      max-width: 553px;
      padding: 15px 15px;
      font-family: 'Times New Roman', Times, serif;
}

.form__item_active:hover {
  border: 1px solid white;
}

.form__item_active:hover::placeholder {
  color: white;
}




.footer {
  background-color: #f6f9f9;
  padding: 38px 390px;
  .footer__body {
      display: flex;  
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    .footer__text {
      .footer__copyright {
        font-size: 15px;
        color: #999999;
      }
    }
    .footer__contact {
      display: flex;
      flex-direction: row;
      .footer__item {
        margin-left: 6px;
        font-size: 13px;
      }
      .twitter {
        color: white;
        background-color: #55acee;
        padding: 10px 13px;
      }
      .facebook {
        color: white;
        background-color: #3b5998;
        padding: 10px 17px;
      }
      .google {
        color: white;
        background-color: #dd4b39;
        padding: 10px 10px;
      }
      .linkedin {
        color: white;
        background-color: #0976b4;
        padding: 10px 13px;
      }
    }
  }
}


